body {
    display: flex;
    margin: 0;
    min-height: 100vh; 
}

.body {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%; 
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
    height:200px;
}

.header-top {
    display: flex;
    justify-content: space-around;
    height: 75px;
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
}


.header-logo {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    color: white;
}

.header-links {
    font-size: 18px;
    display: flex;
    align-items: center;  
}

.awesome-website {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 600px;
}

.awesome-top {
    color: white;
    font-size: 48px;
    font-weight: bold;
    width: 600px;
    height: 125px;
}

.awesome-middle {
    width: 600px;
    height: 75px; 
    color: white;
    font-size: 18px;
}

.awesome-bottom{
   
    
}

.button {
    width: 120px;
    height: 35px;
    color: white;
    border-radius: 10px; 
}

.placeholder {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    height: 250px;
    width: 600px;
    background-color: dimgray;  
}

.illustrations {
    display: flex;
    flex-direction: column;
    flex: 0 0 60%; 
}

.illustrations-top {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    height: 150px;
}

.illustrations-bottom {
    display: flex;
    flex: auto;
}

.subtexts {
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 50px;
}

.subtexts-one, .subtexts-two, .subtexts-three, .subtexts-four {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 25px;
    height: 200px;
    width: 200px;
}

.text {
    margin-top: 225px;
    font-size: 23px;
    text-align: center;
}

.quote {
    display: flex;
}

.quote-middle {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin-left: 425px;
    font-size: 40px;
    font-style: italic;
    color: #1F2937;
    align-content: center;
    width: 1000px;  
}

.quote-corner {
    display: flex;
    justify-content: flex-end;
    width: 1000px;
    margin-top: 15px;  
    font-weight: bolder;
    font-size: 36px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
   }

.quote {
    background-color:#E5E7EB;
    display: flex;
    flex: 0 0 50%;
 
}

.sign-up {
    display: flex;
    flex: 0 0 35%;
    

}

.footer {
    background-color: #1f2937;
    display: flex;
    flex: 0 0 10%;
}